<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.mainSystem.dao.MainMapper">
    <select id="getMessage" resultType="java.lang.String">
        select CREATE_USER from GAME_SAVE WHERE ID = 1
    </select>
    <select id="checkUser" resultType="java.lang.Boolean">
        select count(1) from GAME_SAVE
    </select>
</mapper>
